* {
    background-color: #7D9C90;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    align-content: center; 
    letter-spacing: 2px;
}
nav {
    padding: 10px;
    border: solid #504538;
    width: 80%;
    margin: 0 auto;
    background-color: #B2D3C6;
    border-radius: 10px;
}
a {
    margin: 15px;
    padding: 0px 20px;
    font-size: 120%;
    background-color: #B2D3C6;
}
#topic {
    font-size: 110%;
    padding: 40px;
    margin: 15px 10px 0px 10px;
}
.card {
    width: 500px;
    height: 300px;
    margin: 0 auto;
}
.question, .answer {
    position: absolute;
    width: 500px;
    height: 300px;
    transition: transform 1s;
    backface-visibility: hidden;
    text-align: center;
    text-justify: center;
    border-radius: 10px;
    background-color: #D5CABD;
    border: solid #504538;
}
.answer {
    transform: rotateY(180deg);
    user-select: none;
}
.flipped .question {
    transform: rotateY(180deg);
}
.flipped .answer {
    transform: rotateY(0);
}
button {
    border: solid #504538;
    border-radius: 10px;
    margin: 30px 10px 50px 10px;
    padding: 10px;
    background-color: #D9E5E0;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    color: #4B4A54;
    font-weight: bold;
}
button:hover {
    background-color: #C0A788;
}
#q-head, #a-head, #q-paragraph, #a-paragrph {
    background-color: #D5CABD;
    border-radius: 10px;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    .card {
        width: 250px;
        height: 150px;
        margin: 0 auto;
    }
    .question, .answer {
        position: absolute;
        width: 250px;
        height: 150px;
    }
}