* {
    background-color: darkgray;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    align-content: center; 
}
nav {
    padding: 20px;
}
a {
    margin: 15px;
}
.card {
    width: 250px;
    height: 150px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
}
.question, .answer {
    position: absolute;
    width: 250px;
    height: 150px;
    transition: transform 1s;
    backface-visibility: hidden;
    text-align: center;
    text-justify: center;
}
.answer {
    transform: rotateY(180deg);
    user-select: none;
    background-color: pink;
}
.question {
    background-color: lightblue;
}
.flipped .question {
    transform: rotateY(180deg);
}
.flipped .answer {
    transform: rotateY(0);
}
button {
    margin: 15px;
}